{% extends 'base.html' %}


{% block meta %}
    {# EXTERNAL CSS #}
    <link rel="stylesheet" href="/static/css/quotes.css">

    {# CDN #}
    {# JQUERY #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {# MASONRY IMAGE LOADED #}
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

    {# EXTERNAL JS #}
    <script src="/static/js/masonry.js"></script>

    {# AJAX #}

    <title> Main Page </title>
{% endblock meta %}

{% block content %}
    {# NAVBAR #}
    <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"> RYOK? </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/forum/"> Forums </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/articles/"> Articles </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/com_events/"> Events </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mh_goods/"> Goods </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mh_tests/"> Tests </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/quotes/"> Quotes </a>
                </li>
              </ul>
              {% if user.is_authenticated %}
              <button type="button" class="btn btn-light"><a href="{% url 'homepage:logout' %}">Logout</a></button>
              {% else %}
              <button type="button" class="btn btn-light"><a href="{% url 'homepage:login' %}">Login</a></button>
              {% endif %}
            </div>
          </div>
    </nav>

    <h1> Motivational Quotes </h1>

    {% if user.is_authenticated %}
    <div class="d-flex justify-content-center mb-4">
      <a class="btn btn-warning btn-lg" href="{% url 'quotes:add_quote' %}" role="button">
        Add Image
      </a>
    </div>
    {% endif %}

    {# Add Quotes Button #}
{#    <div class="d-flex justify-content-center mb-4">#}
        {# Trigger Add Quote Modal #}
{#        <button type="button"#}
{#                class="btn btn-primary"#}
{#                data-bs-toggle="modal"#}
{#                data-bs-target="#add_quote_modal">#}
{#            Share words with others#}
{#        </button>#}
{#    </div>#}

    {# Add Quote Modal #}
    <div class="modal fade"
         id="add_quote_modal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> Let's Motivate Other! </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'quotes:add_quote' %}" method=POST enctype="multipart/form-data" id="add_quote">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit"
                           value="Share with others"
                           class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>


    {# Image Viewer #}
    <div class="grid">
        {% for image in images %}
            <div class="grid-item">
                <img src="{{ image.image.url }}" alt="{{ image.title }}">
                <p> {{ image.id }}</p>
            </div>
        {% endfor %}
    </div>

    {# Image Layout #}
    <script>
        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: 0,
        });

        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });
    </script>
    

{% endblock content %}