{% extends 'base.html' %}


{% block meta %}
    <title> Main Page </title>
    {# EXTERNAL CSS #}
    <link rel="stylesheet" href="/static/css/quotes.css">

    {# CDN #}
    {# JQUERY #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {# MASONRY IMAGE LOADED #}
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

    {# EXTERNAL JS #}
    <script src="/static/js/masonry.js"></script>
    <script src="/static/js/quotes.js"></script>

{% endblock meta %}

{% block content %}
    {# NAVBAR #}
    <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/homepage/"> RYOK? </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/forum/"> Forums </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/articles/"> Articles </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/com_events/"> Events </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mh_goods/"> Goods </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mh_tests/"> Tests </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/quotes/"> Quotes </a>
                </li>
              </ul>
              {% if user.is_authenticated %}
              <button type="button" class="btn btn-light"><a href="{% url 'homepage:logout' %}">Logout</a></button>
              {% else %}
              <button type="button" class="btn btn-light"><a href="{% url 'homepage:login' %}">Login</a></button>
              {% endif %}
            </div>
          </div>
    </nav>

    <h1> Motivational Quotes </h1>

    {% if user.is_authenticated %}
    {# Add Quotes Button #}
    <div class="d-flex justify-content-center mb-4">
    {# Trigger Add Quote Modal#}
        <button id="promptAdd"
                type="button"
                class="btn btn-warning btn-lg"
                data-bs-toggle="modal"
                data-bs-target="#add_quote_modal">
            Share yours!
        </button>
    </div>
    {% endif %}

    {# Add Quote Modal #}
    <div class="modal fade"
         id="add_quote_modal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> Let's Motivate Other! </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'quotes:add_quote' %}" method=POST enctype="multipart/form-data" id="add_quote">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="" id="imageFrame">

                        </div>

                        <input type="submit"
                           value="Share with others"
                           class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>


    {# Image Viewer #}
    <div>
        <div class="grid"
         id="board">

        </div>
    </div>


    {# Footer #}
    <footer class="sticky-footer">
        <div id="footer">
            <p> Developed by Team E-10 </p>
            <h5> Platform Based Programming 2022 </h5>
            <h5> Faculty of Computer Science University of Indonesia </h5>
        </div>
    </footer>

{% endblock content %}