{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RYOK? | Catalogue</title>
{% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% csrf_token %}
</div>
{% if not user.request.is_admin %}
<button type="button" class="btn btn-lg btn-dark" data-bs-toggle="modal" data-bs-target="#addModal" id="open-modal">
    Add an Item!
</button>
{% endif %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAbandonedCart">Launch
    modal</button>

<body>
    <style>
        .navbar {
            background: rgb(51, 49, 80);
            background: linear-gradient(0deg, rgba(51, 49, 80, 1) 0%, rgba(28, 28, 52, 1) 61%);
        }
        
        body {
            background: rgb(49, 34, 76)
        }
        a {
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> RYOK? </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/forum/"> Forums </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles/"> Articles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/com_events/"> Events </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goods_catalogue/"> Catalogue </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goods_catalogue/"> Cart </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mh_tests/"> Tests </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes/"> Quotes </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-light"><a href="{% url 'homepage:logout' %}">Logout</a></button> {% else %}
                <button type="button" class="btn btn-light"><a href="{% url 'homepage:login' %}">Login</a></button> {% endif %}
            </div>
        </div>
    </nav>

<!-- Modal: modalAbandonedCart-->
<div class="modal fade right" id="modalAbandonedCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">Product in the cart
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center"><i class="fas fa-shopping-cart fa-4x"></i></p>
                    </div>

                    <div class="col-9">
                        <p>Do you need more time to make a purchase decision?</p>
                        <p>No pressure, your product will be waiting for you in the cart.</p>
                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-info">Go to cart</a>
                <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Cancel</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content card bg-dark text-white">
            <div class="modal-header">
                <h2 class="modal-title">Add an Item!</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-product" method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-md-5 mt-md-4 pb-5">
                        <div class="form-outline form-white mb-4" id="parent-input-name">
                            <label class="form-label" for="input-name">Item Name</label>
                            {{forms.name}}
                        </div>

                        <div class="form-outline form-white mb-4" id="parent-input-price">
                            <label class="form-label" for="input-price">Price Rp</label>
                            {{forms.price}}
                        </div>

                        <div class="form-outline form-white mb-4" id="parent-input-type">
                            <label class="form-label" for="input-type">Category</label>
                            {{forms.category}}
                        </div>
                        <div class="form-outline form-white mb-4" id="parent-input-spec">
                            <div class="input-spec-soulcomforter">
                                <label class="form-label" for="input-spec">Soul Comforter's Comfort-rate</label>
                                {{forms.max_comfort}}
                            </div>
                            <div class="input-spec-anxietybooster">
                                <label class="form-label" for="input-spec">Anxiety Booster's Boost-rate</label>
                                {{forms.boostrate}}
                            </div>
                        </div>

                        <div class="form-outline form-white mb-4" id="parent-input-image">
                            <label class="form-label" for="input-name">Image</label>
                            {{forms.image}}
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-lg px-5" data-bs-dismiss="modal">Close</button>
                <button id="add-btn" onclick=addProduct() class="btn btn-outline-light btn-lg px-5"
                    data-bs-dismiss="modal" name="submit">Add Item</button>
            </div>
        </div>
    </div>
</div>
<div class="product-list">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2>Soul Comforter</h2>
                <div class="container" style="margin-top:50px;">
                    <div class="row justify-content-center" id="soulcomforter-list">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-12">
                <h2>Anxiety Boost</h2>
                <div class="container" style="margin-top:50px;">
                    <div class="row justify-content-center" id="anxietybooster-list">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    // $(document).ready(function(){
    //     if ($('#input-type_0').is(':cheecked')){
    //         $('#parent-input-spec').text(`
    //         <label class="form-label" for="input-spec">Panel's Max Power</label>
    //         `)
    //     } else if ($('#input-type_1').is(':cheecked')){
    //         $('#parent-input-spec').text(`
    //         <label class="form-label" for="input-spec">Battery's Capacity</label>
    //         `)
    //     } else if ($('#input-type_2').is(':cheecked')){
    //         $('#parent-input-spec').text(`
    //         <label class="form-label" for="input-spec">Inverter's Output</label>
    //         `)
    //     }
    // })

    $(document).ready(function () {
        $('.input-spec-soulcomforter').hide()
        $('.input-spec-anxietybooster').hide()
    })

    $(document).ready(function () {
        $('input#input-category_0').click(function () {
            console.log('category 0 clicked')
            $('.input-spec-soulcomforter').show()
            $('.input-spec-anxietybooster').hide()
        })
    })

    $(document).ready(function () {
        $('input#input-category_1').click(function () {
            console.log('category 1 clicked')
            $('.input-spec-soulcomforter').hide()
            $('.input-spec-anxietybooster').show()
        })
    })

    function loadData() {
        console.log("Load Data")
        $(document).ready(function () {
            $.get("{%url 'goods_catalogue:get_catalogue'%}", function (data) {
                console.log(data)
                $.each(data, function (key, value) {
                    var product = `
                        <div class="col-md-3">
                            <div class="card-sl">
                                <div class="card-image" id="item-${value.pk}-image">
                                    <img
                                        src="/media/${value.fields.image}" />
                                </div>
                                <div class="card-heading" id="item-${value.pk}-name">
                                    ${value.fields.name}
                                </div>
                                <div class="card-text">
                                    Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                                </div>
                                <div class="card-text" id="item-${value.pk}-price">
                                    Rp${value.fields.price} 
                                </div>
                                <a href='#' onclick="addToCart(${value.pk})" class="card-button">Add to Cart</a>
                            </div>
                        </div>
                    `
                    if ((value.fields.name).includes("(Soul Comforter)")) {
                        $("#soulcomforter-list").append(product)
                    } else if (value.fields.name.includes("(Anxiety Booster)")) {
                        $("#anxietybooster-list").append(product)
                    }
                })
            })
        })
    }

    function addProduct() {
        console.log("Post Data")
        $(document).ready(function () {
            var form = $('#add-product').serialize()
            console.log(form)
            $.ajax({
                type: "POST",
                url: `{% url 'goods_catalogue:add_product' %}`,
                data: form,
                dataType: "json",
                encode: true,
                success: function (data) {
                    console.log("Done Post Data")
                    console.log(data[0])
                    var product = `
                        <div class="col-md-3">
                            <div class="card-sl">
                                <div class="card-image" id="item-${data[0].pk}-image">
                                    <img
                                        src="/media/${data[0].fields.image}" />
                                </div>
                                <div class="card-heading" id="item-${data[0].pk}-name">
                                    ${data[0].fields.name}
                                </div>
                                <div class="card-text">
                                    Mental Health has been the most important issue in a decade.
                                </div>
                                <div class="card-text" id="item-${data[0].pk}-price">
                                    Rp${data[0].fields.price} 
                                </div>
                                <a href='#' onclick"addToCart(${data[0].pk})" class="card-button">Add to Cart!</a>
                            </div>
                        </div>
                    `
                    if ((data[0].fields.name).includes("(Soul Comforter)")) {
                        $("#soulcomforter-list").append(product)
                    } else if (data[0].fields.name.includes("(Anxiety Booster)")) {
                        $("#anxietybooster-list").append(product)
                    }
                },
                failure: function (data) {
                    alert('Got an error dude');
                }
            })
        })
    }

    function addToCart(pk) {
        $(document).ready(function () {
            console.log("Add to cart! clicked")
            $.ajax({
                type: 'POST',
                headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
                url: "{% url 'goods_catalogue:add_to_cart' 0 %}".replace(0, pk),
                encode: true,
                success: function (data) {
                    console.log(data)
                },
                failure: function (data) {
                    alert('Error bestie');
                },
            })
        })
    }

    loadData()
</script>
{% endblock content %}
