{% extends 'base.html' %} {% block meta %}

<head>
    <title>RYOK? | Mental Health Tests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/mh_tests.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

{% endblock meta %} {% block content %}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> RYOK? </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/forum/"> Forums </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles/"> Articles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/com_events/"> Events </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mh_goods/"> Goods </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mh_tests/"> Tests </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes/"> Quotes </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-light"><a href="{% url 'homepage:logout' %}">Logout</a></button> {% else %}
                <button type="button" class="btn btn-light"><a href="{% url 'homepage:login' %}">Login</a></button> {% endif %}
            </div>
        </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <div class="container bg-warning text-dark rounded">
        <center>
            <h3 class="text-danger">Caution!</h3>
            <p>This test does not serve as a real diagnostic tool, but can be used to picture of the condition you are currently experiencing.</p>
            <p>Use this test wisely, answer honestly according to your current conditions. Please consult your psychologist or psychiatrist if needed.</p>
        </center>
    </div>
    <div class="container bg-white text-dark">
        <h4>Do you often feel sad lately?</h4>
        <div class="form-check">
            <input type="radio" id="health11" name="tes1" value=1>
            <label for="health11">No</label><br>
            <input type="radio" id="health12" name="tes1" value=2>
            <label for="health12">Maybe</label><br>
            <input type="radio" id="health13" name="tes1" value=3>
            <label for="health13">Yes</label><br>
        </div>

        <h4>In this one week, do you feel mentally tired for more than three days?</h4>
        <div class="form-check">
            <input type="radio" id="health21" name="tes2" value=1>
            <label for="health21">No</label><br>
            <input type="radio" id="health22" name="tes2" value=2>
            <label for="health22">Maybe</label><br>
            <input type="radio" id="health23" name="tes2" value=3>
            <label for="health23">Yes</label><br>
        </div>

        <h4>How many times have you cried or been silent in the past two weeks?</h4>
        <div class="form-check">
            <input type="radio" id="health31" name="tes3" value=1>
            <label for="health31">Less than three times</label><br>
            <input type="radio" id="health32" name="tes3" value=2>
            <label for="health32">3-5 times</label><br>
            <input type="radio" id="health33" name="tes3" value=3>
            <label for="health33">More than 5 times</label><br>
            <input type="radio" id="health33" name="tes3" value=4>
            <label for="health33">Nearly every day</label><br>
        </div>

        <h4>Do you feel alone in this world?</h4>
        <div class="form-check">
            <input type="radio" id="health41" name="tes4" value=3>
            <label for="health41">Yes, I'm alone and I don't trust other people</label><br>
            <input type="radio" id="health42" name="tes4" value=2>
            <label for="health42">Sometimes I feel alone but there are still some people I can rely on</label><br>
            <input type="radio" id="health43" name="tes4" value=1>
            <label for="health43">I feel happy to have so many friends here.</label><br>
        </div>

        <h4>Are you thinking about committing suicide?</h4>
        <div class="form-check">
            <input type="radio" id="health51" name="tes5" value=4>
            <label for="health51">Lately I really want to end my life.</label><br>
            <input type="radio" id="health52" name="tes5" value=3>
            <label for="health52">I've had suicidal thoughts once in a while.</label><br>
            <input type="radio" id="health53" name="tes5" value=2>
            <label for="health53">Even though my life is hard sometimes, I don't think about ending it.</label><br>
            <input type="radio" id="health54" name="tes5" value=1>
            <label for="health54">I am happy with my journey and I want to live a healthy life.</label><br>
        </div>
        <br>
        <center><button class="btn btn-primary rounded" type="button" onclick="displayValue()">
        Check your Score!
        </button>
        </center>
        <br>
        <div class="container bg-success text-dark rounded">
            <center>
                <br>
                <h5 id="result" class="text-white">Your score is: </h5>
                <br>
                <h5 id="result2" class="text-white">Click the Check Score Button to check your score!</h5>
                <br>
                <h5 id="result3" class="text-dark"></h5>
                <br>
            </center>
        </div>
        <form method="POST" id="myscore">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td>
                        <h5>Save your score manually!</h5>
                    </td>
                    <td><input class="rounded" type="text" name="scores" id="scores" /></td>
                </tr>
            </table>
            <button id=savebutton type="submit" class="btn btn-primary rounded">
            Save your Score
            </button>
        </form>
    </div>
    <br>
    <center>
        <div id="beeg">
        </div>
    </center>

    <script>
        function displayValue() {
            document.getElementById("result").innerHTML = "Your Results";
            var ele = document.getElementsByName('tes1');
            var ele2 = document.getElementsByName('tes2');
            var ele3 = document.getElementsByName('tes3');
            var ele4 = document.getElementsByName('tes4');
            var ele5 = document.getElementsByName('tes5');
            var scorez = 0;
            var checks = 0;
            for (i = 0; i < ele.length; i++) {
                if (ele[i].checked) {
                    var xx = parseInt(ele[i].value);
                    scorez = scorez + xx;
                    checks = checks + 1;
                }

            }
            for (i = 0; i < ele2.length; i++) {
                if (ele2[i].checked) {
                    var xx = parseInt(ele2[i].value);
                    scorez = scorez + xx;
                    checks = checks + 1;
                }

            }
            for (i = 0; i < ele3.length; i++) {
                if (ele3[i].checked) {
                    var xx = parseInt(ele3[i].value);
                    scorez = scorez + xx;
                    checks = checks + 1;

                }

            }
            for (i = 0; i < ele4.length; i++) {
                if (ele4[i].checked) {
                    var xx = parseInt(ele4[i].value);
                    scorez = scorez + xx;
                    checks = checks + 1;

                }

            }
            for (i = 0; i < ele5.length; i++) {
                if (ele5[i].checked) {
                    var xx = parseInt(ele5[i].value);
                    scorez = scorez + xx;
                    checks = checks + 1;

                }

            }
            if (checks == 5) {
                document.getElementById("result2").innerHTML = scorez;
                if (scorez >= 13) {
                    document.getElementById("result3").innerHTML = "You are indicated to be in a very sad state.<br>Talk to your closest friends or family, contact your psychiatrist or psychologist to help you.<br>";
                } else if (scorez >= 8) {
                    document.getElementById("result3").innerHTML = "You are indicated to be in a unhappy state.<br>Sharing your sadness with friends or family can help ease the sadness you are experiencing.<br>";
                } else {
                    document.getElementById("result3").innerHTML = "Currently you are in a good mental condition.<br>Keep your physical and spiritual health by exercising, have faith and praying, and socializing in a healthy manner.<br>";
                }
            } else {
                document.getElementById("result2").innerHTML = "Please pick an answer for every questions first.";
            }


        }
    </script>
    <script>
        $(document).ready(function() {
            $.get(window.location.href + "json/", function(data) {
                for (i = 0; i < data.length; i++) {
                    getData(data[i]);
                    // deletes(data[i]);
                }
            });
            $("#savebutton").click(function() {
                $("#myscore").submit(function(e) {
                    e.preventDefault();
                    $.post(window.location.href + "add/", {
                        score: $("#scores").val(),
                    }).done(function(data) {
                        getData(data);
                        // deletes(data);
                        $("#scores").val("");
                        const makeCard = document.getElementById("beeg");
                        makeCard.insertAdjacentHTML("beforeend", $(`#${data.pk}_list`));
                    });
                });
            });

            function getData(data) {
                $("#beeg").append(
                    `
                        <div id="${data.pk}_list" class="card" >
                            <h4>Date</h4>
                            <h5>${data.fields.date}</h5>
                            <h4>User Name</h4>
                            <h5>${data.fields.user}</h5>
                            <h4>Score</h4>
                            <h5>${data.fields.score}</h5>
                        </div>
                    `
                );
            }

            // function deletes(data) {
            //     $(`#${data.pk}-delete`).click(function() {
            //         $.post(window.location.href + `delete-task/${data.pk}/`, {}).done(
            //             (res) => {
            //                 $(`#${data.pk}-list`).fadeOut();
            //             }
            //         );
            //     });
            // }
        });
    </script>

</body>
{% endblock content %}