/* =============== GENERAL =============== */
body{
    min-height: 100vh;
}

/* =============== HOVER SECTION =============== */
.grid-item:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.nav-link:hover{
    transform: scale(1.005);
}

#formSubmit:hover{
    transform: scale(1);
    -webkit-text-fill-color: black;
    background-position: left bottom;
}

/* =============== RELATED TO NAVBAR =============== */
.navbar{
    background: #FFFFFF
}

.nav-link{
    font-style: italic;
}

.nav-link.active{
    font-weight: bold;
}

/* =============== RELATED TO GENERAL HEADINGS =============== */
h1 {
    padding-top: 15px;
    color: #009;
    text-align: center;
}

h5 {
    text-align: center;
}


/* =============== RELATED TO IMG UPLOAD MODAL =============== */
#promptAdd{
    box-shadow: 0 0 0;
    transition: 0.3s;
    font-weight: bold;
}

#imagePreview{
    margin-bottom: 15px;
    height:auto;
    width:100%;
}

#imageFrame{
    margin: auto;
    width:75%;
}

#formSubmit{
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-width: 0;
    background: linear-gradient(to right, #FFC107 50%, #613FE5 50%) right bottom;
    background-size: 200%;
    box-shadow: 0 0 0;

    -webkit-text-fill-color: white;
    font-weight: bold;

    transition: all 0.4s ease-out;
}


/* =============== RELATED TO IMG MODAL =============== */
#image-modal-dialog{
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

#image-modal-image{
    width: 100%;
    height: auto;
}

#delete-button{
    width: 25%;
}

/* =============== RELATED TO GRID =============== */
#board{
    margin-bottom: 15px;
    margin-right: 20px;
}

.grid-item{
    transition: all .2s ease-in-out;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 275px;
    background-color: #cb8835;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item p {
    text-align: center;
}

/* =============== RELATED TO IMG VIEW =============== */
img {
    width:100%;
}

/* =============== RELATED TO GENERAL BUTTON =============== */
#log-btn {
    box-shadow: 0 0 0 0;
    font-weight: bold;
    color: #FFFFFF;
}

.btn{
    box-shadow: 0 0 0;
}

/* =============== RELATED TO FOOTER =============== */
footer {
    top: 100%;
    position: sticky;
    bottom: 0;
    background-color: #613FE5;
    padding: 25px;
    margin-top: 5rem;
}

#footer {
    color: white;
    text-align: center;
    font-family: Noto Sans, sans-serif;
}

#footer p {
    font-style: italic;
}

#footer h5 {
    font-size: large;
}