/* HOVER */
.grid-item:hover{
    transform: scale(1.05);
}

.navbar{
    background: rgb(51,49,80);
    background: linear-gradient(0deg, rgba(51,49,80,1) 0%, rgba(28,28,52,1) 61%);
}

h1 {
    padding-top: 15px;
    color: #009;
    text-align: center;
}


.grid-item{
    margin-left: 15px;
    margin-bottom: 15px;
    width: 225px;
    background-color: #cb8835;
}

.grid-item p{
    text-align: center;
}

img {
    width:100%;
}

#title{
    text-align: center;
}