{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- Heading and scripts -->
    <title>RYOK? | Forum</title>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(() => {
        get_thread();
    })
    function create() {
        const form = $(".new_forum");
        $.ajax({
            type: "POST",
            url: "/forum/start-forum/",
            data: form.serialize(),
        }).done(function(data) {
            form.trigger("reset");
            get_thread();
        });
        $("#staticBackdrop").modal("hide");
    }
    function get_thread() {
        $.ajax({
            type: "GET",
            url: "/forum/json/"
        }).done((data) => {
            renderThread(data);
        });
    }
    function renderThread(data) {
        const individualCards = $('.card');
        data.forEach(thread => {
            var len = (thread.fields.content).length
            if (len > 150) {
            const threadCard = `
            <div class="card">
              <div class="container">
                <div class="container-title">
                 <h5 class="post" id="title-text">${thread.fields.title}</h5>
                 <i class="post" style="font-size: small">By ${thread.fields.author}</i>
                </div>
                <br>
                <p class="post" id="writer-text">${thread.fields.content.substring(0,150)}...</p>
                <div class="grandParentContaniner">
                    <div class="parentContainer">
                        <a type="button" class="btn" style="background-color: rgb(255,165,0); font-weight: bold; color: black; font-size: 70%;" href="/forum/read/${thread.pk}">Read & Reply</a>
                    </div>
                </div>
              </div>
            </div>`
            individualCards.append(threadCard);
            }
            else {
            const threadCard = `
            <div class="card">
              <div class="container">
                <div class="container-title">
                 <h5 class="post" id="title-text">${thread.fields.title}</h5>
                 <i class="post" style="font-size: small">By ${thread.fields.author}</i>
                </div>\<br>
                <p class="post" id="writer-text">${thread.fields.content}</p>
                <div class="grandParentContaniner">
                    <div class="parentContainer">
                        <a type="button" class="btn" style="background-color: rgb(255,165,0); font-weight: bold; color: black; font-size: 70%;" href="/forum/read/${thread.pk}">Read & Reply</a>
                    </div>
                </div>
              </div>
            </div>`
            individualCards.append(threadCard);
            }
        })
    };
    </script>
{% endblock meta %}

{% block content %}
    <!-- Style properties -->
    <style>
        #title-text {
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            font-size: large;
            color: white;
        }
        #writer-text {
            font-family: 'Noto Sans', sans-serif; 
            font-size: small; 
            color: white;
        }
        #post {
            background-color: black;
        }
        .navbar {
            background: rgb(255,255,255)
        }
        body {
            background: linear-gradient(0deg, rgb(255,165,0) 10%, rgb(255,255,255) 90%);
        }
        .grandParentContaniner {
          display:table; 
          height:100%; 
          margin: 0 auto;
        }
        .parentContainer {
          display:table-cell; 
          vertical-align:middle;
        }
        .card {
          background: linear-gradient(0deg, rgba(32, 32, 32, 1) 10%, rgba(64, 64, 64, 1) 61%);
          text-align: center;
          transition: 0.3s;
          border-radius: 5px;
          margin-bottom: 15px;
        }
        .container {
          padding: 10px 10px;
        }
        .container-title {
            text-align:center;
        }
        .post{
            color: white;
        }
        .btn {
            box-shadow: 0 0 5px rgb(36, 35, 48);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: box-shadow, transform;
            transition-property: box-shadow, transform;
        }
        .vertical-center {
          margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        h1 {
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
        }
        a {
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
        }
    </style>

    <!-- Modal for creating story -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: rgb(255, 165 ,0);">
            <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: black;">Let's create a story!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id=""></button>
          </div>
          <div class="grandParentContaniner">
            <div class="parentContainer">
                <form method="POST" action="/forum/start-forum/">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input class="btn btn-success" type="submit" name="submit" value="Post" style="float:center" id="post" /></td>
                    </tr>
                </table>
            </form>
            </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Navbar -->  
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="../"> RYOK? </a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2">
                        <a class="nav-link active" href="/forum/"> Stories </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/articles/"> Articles </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/com_events/"> Events </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/goods_catalogue/"> Catalogues </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" href="/mh_tests/"> Tests </a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" aria-current="page" href="/quotes/"> Quotes </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <a id="log-btn" class="btn btn-dark" href="{% url 'homepage:logout' %}"> Logout </a>
                {% else %}
                    <a id="log-btn" class="btn btn-dark" href="{% url 'homepage:login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Rest of the page -->
    <div class="grandParentContaniner">
        <div class="parentContainer">
        <h1 style="color: black;"> STORIES </h1>
        <h6>Let me hear your story.</h6>
        </div>
    </div>
    <br>
    <div class="grandParentContaniner">
        <div class="parentContainer">
        <a type="button" class="btn" style="background-color: rgb(255,165,0); font-weight: bold; color: black; font-size: 150%;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">CREATE</a>
        </div>
    </div>
    <br>
    <br>
    <div class="grandParentContaniner">
        <div class="parentContainer">
            <div class="card">
            </div>
        </div>
    </div>
{% endblock content %}