{% extends 'base.html' %} \
{% load static %}

<head>
    {% block meta %}
    <title>RYOK? | Forum</title>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% endblock meta %}
</head>

{% block content %}

<body>
    <style>
        .navbar {
            background: rgb(51, 49, 80);
            background: linear-gradient(0deg, rgba(51, 49, 80, 1) 0%, rgba(28, 28, 52, 1) 61%);
        }
        
        body {
            background: rgb(64, 62, 101)
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> RYOK? </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/forum/"> Forums </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles/"> Articles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/com_events/"> Events </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mh_goods/"> Goods </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mh_tests/"> Tests </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes/"> Quotes </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <button type="button" class="btn btn-light"><a href="{% url 'homepage:logout' %}">Logout</a></button> {% else %}
                <button type="button" class="btn btn-light"><a href="{% url 'homepage:login' %}">Login</a></button> {% endif %}
            </div>
        </div>
    </nav>
    <br>
    <h1 style="color: white;"> FORUM </h1>
    <h5 style="color: white;"> PBP E-10 </h5>
    <a type="button" class="btn btn-light" href="{% url 'forum:new_forum' %}">Start new Forum</a>
    <br>
    <div id="forumslots">
        {% for dx in data %}
        <br>
        <div class="card">
            <h5>{{dx.title}}</h5>
            <p>{{dx.content}}</p>
        </div>
        {% endfor %}
    </div>
    <script>
    </script>
</body>
{% endblock content %}