{% extends 'base.html' %}

{% block meta %}
    <title>RYOK? | {{thread.title}}</title>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script>
    $(document).ready(() => {
        get_task();
    function get_task() {
        $.ajax({
            type: "GET",
            url: "{% url 'forum:show_json_id' thread.id %}",
        }).done((data) => {
            renderThreads(data);
        });
    }
    function renderThreads(data) {
        const individualCards = $('.thread');
        const taskCard = `
            <p id="content-text">${data.fields.content}</p>
            <h6 style="color: white;">${data.fields.date_time}</h6>`;
        individualCards.append(taskCard);
        data.forEach(thread => {
            const taskCard = `
            <p id="content-text">${thread.fields.content}</p>
            <h6 style="color: white;">${thread.fields.date_time}</h6>`;
        individualCards.append(taskCard);
        })
    };
    // function create() {
    //     const form = $(".create_task");
    //     $.ajax({
    //         type: "POST",
    //         url: "/todolist/create-task/",
    //         data: form.serialize(),
    //     }).done(function(data) {
    //         form.trigger("reset");
    //         get_task();
    //     });
    //     $("#staticBackdrop").modal("hide");
    // }
    </script> -->
{% endblock meta %}

{% block content %}
    <style>
        #title-text {
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            font-size: x-large;
            font-style: italic;
            color: white;
        }
        #writer-text {
            font-family: 'Noto Sans', sans-serif; 
            font-size: larger; 
            font-style: italic;
            color: white;
        }
        #content-text {
            font-weight:normal ;
            text-align: justify;
            color: black;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-right: 10px;
        }
        .navbar {
            background: rgb(37, 33, 34);
        }
        .container {
            bottom: 0;
            left: 0;
            right: 0;
            margin-bottom: 30px;
            box-sizing: border-box;
            border-radius: 15px;
        }
        #cmt-list p {
            word-wrap: break-word;
        }
        #cmt-author-text {
            margin-left: 2px;
            font-weight: bold;
              font-family: 'Nunito', sans-serif;
        }
        #cmt-comment-text {
            margin-left: 28px;
            font-weight: normal;
        }
        body{
            background: linear-gradient(0deg, rgb(255, 165, 0) 30%, rgb(37, 33, 34) 90%);
            min-height: 100vh;
        }
        footer {
            position:sticky;
            width: 100%;
            top: 100%;
            padding: 20px;
            background-color: rgb(255,165,0);
        }
        .btn {
            box-shadow: 0 0 5px rgb(36, 35, 48);
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
        }
        .btn:hover {
            -webkit-transform: scale(1.08);
            transform: scale(1.08);
        }
        .thread {
        }

    </style>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/forum/" style="font-style:italic"> RYOK? </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/forum/"> Forums </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles/"> Articles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/com_events/"> Events </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goods_catalogue/"> Goods Catalogue </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goods_cart/"> My Cart </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mh_tests/"> Tests </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes/"> Quotes </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <a id="log-btn" class="btn btn-dark" href="{% url 'homepage:logout' %}">Logout</a> {% else %}
                <a id="log-btn" class="btn btn-dark" href="{% url 'homepage:login' %}">Login</a> {% endif %}
            </div>
        </div>
    </nav>
    <!-- Title Bar -->
    <div style="text-align:center; padding:10px 10px; margin-top: 3rem;">
        <p id="title-text">{{thread.title}}</p>
        <p id="writer-text">-- written by {{thread.author}} --</p>
    </div>

    <!-- Content -->
    <div style="background: rgb(255,165,0); padding:20px; padding-bottom: 25vh ;border-top-left-radius: 50px; border-top-right-radius: 50px;">
        <!-- Articles -->
        <div class="container" style="padding:10px; background-color: white; margin-top:20px">
            <p id="content-text">{{thread.content}}</p>
            <h6 id="content-text">{{thread.date_time}}</h6>
        </div>
        <!-- Comment -->
        <div class=container style="background-color: rgb(37, 33, 34); padding:20px;">
            <h2 style="font-size:large; color: white; margin-left: 10px;">What do you think? 👀</h2>
            <br>
            <!-- Comment Button -->
            <a type="button" style="font-weight:bold; color:black; background-color: rgb(255,165,0); margin-left: 10px;" class="btn" href="{% url 'forum:reply_thread' thread.id %}">Write a comment</a>

            {% for i in comment %}
                <div id="cmt-list" class="d-flex justify-content-between" style="border-radius: 15px; background-color: white; padding: 10px; margin: 10px;">
                    <div class="container">
                        <p id="cmt-author-text">👾 {{i.author}}  |  {{i.date}}</p>
                        <p id="cmt-comment-text">{{i.content}}</p>
                    </div>
                    <!-- <a type="button" style=" font-weight:bold; color:aliceblue; padding-top: 13px; background-color:#DE1C1C;" class="btn" href="{% url 'articles:delete_comments' thread.id i.id %}">X</a> -->
                </div>
            {% endfor %}
        </div>
    </div>

    <footer>
        <div style="color: black; text-align: center; font-family: 'Noto Sans', sans-serif;"> 
            <p style="font-style: italic; font-size: large;">Developed by Team E-10</p>
            <h5 style="font-size:large; ">Platform Based Programming 2022</h5>
            <h5 style="font-size:large; ">Faculty of Computer Science University of Indonesia</h5>
        </div>
    </footer>
{% endblock content %}