{% extends 'base.html' %}

{% block content %}
<center>
<h1>
    Events for {{ month }} {{ year }}
</h1>

{{ cal|safe }}

<button><a href="{% url 'com_events:add_event'%}">Add Event</a></button>
{% if user.is_authenticated %}
<button><a href="{% url 'com_events:logout' %}">
    Logout
</a></button>
{% endif %}
</center>

<h1>
    List of Events
</h1>

{% for item in event_list %}
<ul>
    <li>Name: {{ item.name }}</li>
    <li>Date: {{ item.date }}</li>
    <li>Manager: {{ item.manager }}</li>
    <li>Description: {{ item.description }}</li>
    
    <li>
        Attendees: 
        {% for user in item.attendees.all %}
        {{ user }}
        {% endfor %}
    </li>
    {% if user.is_authenticated %}
    <button>
        <a href="{% url 'com_events:join_event' item.id %}" class="btn">
            Join
        </a>
    </button>
    <a href="{% url 'com_events:delete' item.id %}" class="btn">
        Delete
    </a>
    {% endif %}
</ul>
{% endfor %}
{% endblock content %}
