{% extends 'base.html' %}

{% block content %}
<style>
    .navbar{
        background: rgb(51,49,80);
        background: linear-gradient(0deg, rgba(51,49,80,1) 0%, rgba(28,28,52,1) 61%);
    }
</style>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> RYOK? </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/forum/"> Forums </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles/"> Articles </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/com_events/"> Events </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mh_goods/"> Goods </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mh_tests/"> Tests </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quotes/"> Quotes </a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <button type="button" class="btn btn-light"><a href="{% url 'homepage:logout' %}">Logout</a></button>
          {% else %}
          <button type="button" class="btn btn-light"><a href="{% url 'homepage:login' %}">Login</a></button>
          {% endif %}
        </div>
      </div>
    </nav>
<center>
<h1>
    Events for {{ month }} {{ year }}
</h1>

{{ cal|safe }}

<button><a href="{% url 'com_events:list_events' %}">List of Events</a></button>

</center>

{% endblock content %}
