{% extends 'base.html' %}

{% block content %}

<style>
    .navbar{
        background: rgb(51,49,80);
        background: linear-gradient(0deg, rgba(51,49,80,1) 0%, rgba(28,28,52,1) 61%);
    }
</style>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> RYOK? </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/forum/"> Forums </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/articles/"> Articles </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/com_events/"> Events </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mh_goods/"> Goods </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mh_tests/"> Tests </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/quotes/"> Quotes </a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <button type="button" class="btn btn-light"><a href="{% url 'homepage:logout' %}">Logout</a></button>
          {% else %}
          <button type="button" class="btn btn-light"><a href="{% url 'homepage:login' %}">Login</a></button>
          {% endif %}
        </div>
      </div>
    </nav>

{% if user.is_superuser %}
<button data-bs-toggle="modal" data-bs-target="#modal_add">
    Add Event
</button>
{% endif %}

{% if user.is_authenticated %}
<button data-bs-toggle="modal" data-bs-target="#modal_add">
    Add Event AJAX by User for Testing
</button>
<button><a href="{% url 'com_events:add_event'%}">
    Add Event by User for Testing
</a></button>
<br>
<button><a href="{% url 'com_events:list_events' %}">List of Events</a></button>
<button><a href="{% url 'com_events:my_events' %}">My Events</a></button>
<button id="refresh_data" class="px-3 underline" >
    Refresh
</button>
{% endif %}

<div class="modal fade" id="modal_add" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="mainModalLabel">
                Add Task
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close_modal"></button>
            </div>
            <div class="modal-body">
                <div class = "create">
                <form method="POST" id="modal_form">  
                    {% csrf_token %} 
                    <table>
                    {{ form.as_table }}
                    </table>
                </form>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submit_event">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_confirm" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
          <h1 class="modal-title fs-5" id="mainModalLabel">
              Are You Sure?
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close_confirm"></button>
          </div>
          <div class="modal-body">
              <div class = "create">
              <form method="POST" id="confirm_form">  
                  {% csrf_token %} 
              </form>
              </div>
          </div>
          <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal">Go Back</button>
          <button type="submit" class="btn btn-primary" id="confirm">Confirm</button>
          </div>
      </div>
  </div>
</div>

{% if user.is_authenticated %}
<h1>
    Ajax Test
</h1>
<div id="main_div">

</div>
{% else %}

<h1>
    List of Events
</h1>

{% for item in event_list %}
<ul>
    <li>Name: {{ item.name }}</li>
    <li>Date: {{ item.date }}</li>
    <li>Manager: {{ item.manager }}</li>
    <li>Description: {{ item.description }}</li>
    
    <li>
        Attendees: 
        {% for user in item.attendees.all %}
        {{ user }}
        {% endfor %}
    </li>
    <!-- {% if user.is_authenticated %}
        <button>
        <a href="{% url 'com_events:join_event' item.id %}" class="btn">
            Join
        </a>
        </button>
    {% endif %}
    {% if user.is_superuser %}
        <a href="{% url 'com_events:delete' item.id %}" class="btn">
            Delete
        </a>
    {% endif %} -->
</ul>
{% endfor %}
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% if user.is_superuser %}
<script src="/static/js/events_admin.js"></script>
{% endif %}
{% if user.is_authenticated %}
<script src="/static/js/events_user.js"></script>
{% endif %}

{% endblock content %}