{% extends 'base.html' %}

<head>
    {% block meta %}
    <title>RYOK? | Articles</title>
    <script src="jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <!-- external styling -->
    <link rel="stylesheet" href="/static/css/articles.css">
    {% endblock meta %}

</head>

{% block content %}
<body>
    <!-- internal styling -->
    <style>
        .carousel-item {
            height: 30rem;
            width: 100%;
            position: static;
            background: #777;
            color: rgb(0, 0, 0);
            background-size: auto;
        }
        .container {
            bottom: 0;
            left: 0;
            right: 0;
        }
        .card {
            width: 220px;
            height: 320px;
            display: inline-block;
            float: none;
            border-top-left-radius: 25px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 25px;
            cursor: pointer;
            margin: 10px;
            background-color: #221E1F;
        }
        .card-title {
            color: #897EDB;
            text-align:center;
        }
        .card-subtitle {
            text-align: center;
        }
        .card-text {
            color: rgb(255, 255, 255);
        }
        h1 {
            font-family: 'Roboto Slab', serif;
            font-weight: bold;
        }
        a {
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
        }

    </style>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="../" style="font-style:italic"> RYOK? </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/forum/"> Forums </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/articles/"> Articles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/com_events/"> Events </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goods_catalogue/"> Goods Catalogue </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/goods_cart/"> My Cart </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mh_tests/"> Tests </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes/"> Quotes </a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <a id="log-btn" class="btn btn-dark" href="{% url 'homepage:logout' %}">Logout</a> {% else %}
                <a id="log-btn" class="btn btn-dark" href="{% url 'homepage:login' %}">Login</a> {% endif %}
            </div>
        </div>
    </nav>

    <div id="greet" style="text-align:center; margin: 5rem;">
        <h1 >RYOK?</h1>
        <p style="font-family: 'Noto Sans', sans-serif; font-size: larger;">
            Hi there! Are you okay? Explore us to get updates for many mental health news through the world! Find a relevant article for you and be happy!</p>
    </div>

    <!-- Static Carousel -->
    <div id="carousel-ctn" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-ctn" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carousel-ctn" data-bs-slide-to="1"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background:url(../static/articles_static/01-new.png);">
                <div></div>
                <div class="carousel-caption">
                    <h1>Get Updates on Mental Health Issues!</h1>
                    <p>In recent years, there has been increasing acknowledgement of the important role mental health plays in achieving global development goals, as illustrated by the inclusion of mental health in the Sustainable Development Goals. Depression
                        is one of the leading causes of disability. Suicide is the fourth leading cause of death among 15-29-year-olds.[WHO]</p>
                    <a class="btn btn-lg btn-warning" href="https://www.who.int/news-room/fact-sheets/detail/mental-health-strengthening-our-response"
                        style="font-weight: bold">Read More</a>
                </div>
            </div>

            <div class="carousel-item" style="background:url(../static/articles_static/02-new.png)">
                <div class="carousel-caption">
                    <h1> What causes mental illnesses? The human brain & its link to mental health</h1>
                    <p>How do various parts of the human brain affect one's everyday life? Watch this video -- by CNA Asia -- about the physiology of the brain and its link to mental health </p>
                    <a class="btn btn-lg btn-warning" href="https://youtu.be/MEn0XlnxEnM" style="font-weight: bold;">Watch video</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-ctn" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-ctn" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% if user.is_superuser %}
    <!-- manage buttons -->
    <div style="background-color:#09050D">
    <a type="button" class="btn" style="margin: 20px; margin-right: 5px; background-color: white;
    font-family: 'Noto Sans TC', sans-serif; font-size: large; font-weight:800; ;" href="{% url 'articles:write_articles' %}">+</a>

    <a type="button" class="btn" style="background-color: white;
    font-size: large; font-weight:bold ;" href="/admin/">Manage</a> 
    </div>{% endif %}

    <div style="padding:20px; padding-top: 3rem ;padding-bottom:10rem; background-color: #09050D;">
        <!-- Showing Article Cards -->
        <div id="articles_cards">
        </div>
    </div>

    <footer>
        <div style="color: white; text-align: center; font-family: 'Noto Sans', sans-serif;">
            <p style="font-style: italic; font-size: large;">Developed by Team E-10</p>
            <h5 style="font-size:large; ">Platform Based Programming 2022</h5>
            <h5 style="font-size:large; ">Faculty of Computer Science University of Indonesia</h5>
        </div>
    </footer>

    {% if user.is_superuser %}
    <script>
        function ajax_get() {

            $.get('/articles/json-artc', function(articles) {
                $('#articles_cards').empty()
                articles.map((atc) => {
                    $('#articles_cards').append(
                        `
                        <div class="card" >
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title" style="font-size:large"> ${atc.fields.title} </h4>
                                <h6 class="card-subtitle mb-2 text-muted">• ${atc.fields.date}</h6>
                                <hr style="color:white"></hr>
                                <p class="card-text" style="font-size:medium"> ${atc.fields.content.substring(0,50)}...</p>

                                <div class="flex justify-between gap-3" style="position: absolute; bottom: 15px;">
                                    <div class="flex flex-col justify-center rounded" >
                                        <a type="button" class="btn" style="background-color: #613FE5; margin-left: 15px; font-weight: bold; color: white;" 
                                        href="/articles/read/${atc.pk}">Read More</a>
                                        <a type="button" class="btn" style="background-color: #9D1325; margin-left: 10px; font-weight: bold; color: white;" 
                                        href="/articles/delete-articles/${atc.pk}">X</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `
                    )
                })
            })
        }

        $(document).ready(function() {
            ajax_get()
        });
    </script>
    {% else %}
    <script>
        function ajax_get() {

            $.get('/articles/json-artc', function(articles) {
                $('#articles_cards').empty()
                articles.map((atc) => {
                    $('#articles_cards').append(
                        `
                        <div class="card" >
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title" style="font-size:large"> ${atc.fields.title} </h4>
                                <h6 class="card-subtitle mb-2 text-muted">• ${atc.fields.date}</h6>
                                <hr style="color:white"></hr>
                                <p class="card-text" style="font-size:medium"> ${atc.fields.content.substring(0,70)}...</p>

                                <div class="flex justify-between gap-3" style="position: absolute; bottom: 15px;">
                                    <div class="flex flex-col justify-center rounded" >
                                        <a type="button" class="btn" style="background-color: #613FE5; font-weight: bold; color: white;" 
                                        href="/articles/read/${atc.pk}">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `
                    )
                })
            })
        }

        $(document).ready(function() {
            ajax_get()
        });
    </script>
    {% endif %}


</body>
{% endblock content %}