{% extends 'base.html' %}

<head>
    {% block meta %}
    <title>RYOK? | {{target.title}}</title>
    {% endblock meta %}
</head>

{% block content %}
<body>
    <style>
        .container {
            position:sticky;
            bottom: 0;
            left: 0;
            right: 0;
            box-sizing: border-box;
            background-color: aqua;
        }
    </style>
    <div style="text-align:center ;">
        <h2>{{target.title}}</h2>
        <h4>written by {{target.author}} on {{target.date}}</h4>
    </div>

    <div class=container>
        <p>{{target.content}}</p>
    </div>
    
    <div>
        <a type="button" class="btn btn-primary" href="{% url 'articles:write_comments' target.id %}">comment</a>
    </div>

    <div class=container>
        {% for i in comment %}
            <p>{{i.content}}</p>
        {% endfor %}
    </div>


</body>
{% endblock content %}