{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>RYOK? | Write Comment</title>
{% endblock meta %}

{% block content %}
<body> 
    <style>
        /* .input {
            
        } */

        .login form input[type="submit"]{
            font-weight: bold;
            background-color: rgb(4, 113, 214);
            color: azure;
            margin-top: 12px;
        }
    </style>

    <div class="input">
        <h1>Write new articles for the world!</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>Pseudonym: </tr>
                <tr><input name="author" placeholder="fictitious name" class="form-control"></tr>

                <tr>Your thoughts?: </tr>
                <tr><textarea name="content" placeholder="...." class="form-control"></textarea></tr>
                <input class="btn btn-primary" type="submit" name="submit" value="Post" style="float:right"/>

            </table>
        </form>

    </div>
</body>
{% endblock content %}